<section class="container">
  <div class="container-hd">
    <figrue class="figure"><img src="__PUBLIC__/Wap/img/banner-index.jpg" alt="" /></figrue>
    <div class="container-hd_text"> <i class="i i-text i-text_left"></i> <i class="i i-text i-text_right"></i> </div>
    <i class="i-lantern i-lantern_left"></i> <i class="i-lantern i-lantern_right"></i>
    <div class="fireworks"> <i class="i-firework"></i> <i class="i-firework"></i> </div>
    <i class="i i-character bounceIn floatUpDown"></i> </div>
</section>
